params {

  samplesheet = 'index.csv'
  outdir = 'results'

  flye_read_error = 0.03
  flye_ont_mode = 'nano-hq'
  nanoq_code_start = 1
  nanoq_read_length = 9000
  nanoq_num_ref = 1
  nanoq_qual_threshhold = 5
  nanoq_jump = 10
  help = false
  dv_region = 'NC_001477_ref:1-10735'
  dv_nanopore_version = 'ont_r9_guppy5_sup'
}

singularity {
  enabled = true
  autoMounts = true
  runOptions = "-B \${TMPDIR}"
}

process {

  cpus = 1
  memory = 1.GB

  withLabel:small {
    cpus = 1
    memory = 1.GB
  }

  withLabel: medium {
    cpus = 2
    memory = 2.GB
  }

  withLabel: large {
    cpus = 4
    memory = 4.GB
  }

  withLabel:GPU {
    clusterOptions = "-l select=1:ncpus=4:mem=4gb:ngpus=1:gputype=A100"
    containerOptions = "--nv"
  }
}

manifest {
    name            = 'eresearchqut/deepvariant'
    author          = 'eResearch, QUT'
    homePage        = 'https://github.com/eresearchqut/deepvariant'
    description     = 'Run the DeepVariant tool.'
    mainScript      = 'main.nf'
    nextflowVersion = '>=21.05.0'
    defaultBranch   = 'main'
}